.message-input,
.message-output {

    span.hora {
        float: right;
        margin-top: 15px;
    }

    max-width: 80%;
    width: fit-content;
    padding: 15px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    word-wrap: break-word;

}

.message-input {
    background-color: red;
    color: white;

}

.message-output {


    background-color: lightgreen;
    color: white;
    text-align: left;
    margin-left: auto;
}