:host {
    display: block;
    animation-name: slideUp;
    animation-duration: 2s;
    animation-timing-function: linear;


    .message-input,
    .message-output {

        span.hora {
            float: right;
            margin-top: 15px;
        }

        max-width: 80%;
        width: fit-content;
        padding: 15px 10px;
        border-radius: 10px;
        margin: 10px;
        word-wrap: break-word;

    }

    .message-input {
        background-color: red;
        color: white;

    }

    .message-output {


        background-color: lightgreen;
        color: white;
        text-align: left;
        margin-left: auto;
    }

}

@keyframes slideUp {

    0%,
    50% {
        transform: translateY(100%);
        opacity: 0;
    }

    60%,
    100% {
        transform: translateY(0);
        opacity: 1;

    }
}