<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let chat of chats" (click)="gotoChatDetail(chat.id)" detail="false">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src={{chat.contact.avatar}} />
      </ion-avatar>

      <ion-badge *ngIf="getUnreadMessages(chat.unreadMessages) !== 0" class="unread_message" slot="end">
        {{getUnreadMessages(chat.unreadMessages)}}</ion-badge>

      <ion-note slot="end" class="time">{{getLastMessage(chat.messages)?.date| date: 'HH:mm'}}</ion-note>
      <ion-label class="ion-text-wrap">
        <p class="name"> {{chat.contact.name}}</p>
        <p *ngIf="chat.messages && chat.messages.length > 0" class="msg">{{getLastMessage(chat.messages)?.content}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="chatbox"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>